<appSettings>
  <add key ="FacebookAppId" value="2970524396528170"/>
  <add key ="FacebookAppSecret" value="a76e4e3eb7311f664c9ba7c724a97726"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>